.body{
width: auto;
height: auto;
}
.arkaplan{
	width: 800px;
	height: 600px;
	padding-left: 266px;
	padding-top: 125px;
	background-repeat: no-repeat;
	margin-left: 260px;
	background-image: url(img/background.png);
	margin-top: 90px;
}
.container{

  width: 268px;
  height: 351px;
  border-radius: 6px;
  box-shadow: 0 3px 8px 2px rgba(54, 54, 54, 0.7);
  background-color: #ffffff;

}
.cover{
	 width: 268px;
  height: 152px;
  object-fit: contain;
  background-image: url(img/cover.png);
}
.avatar{
  width: 70px;
  height: 70px;
  object-fit: contain;
  background-image: url(img/avatar.png);
  margin-top: -21px; 
  margin-left: 98px;
}
.Nicola-Armellini {
  width: 255px;
  height: 18px;
  margin-left: 80px;
  margin-top:9px;
}
.Designer-One-half-o {
  width: 255px;
  height: 34px;
   margin-left:7px;
  margin-top:22px;
  text-align: center;
}
.logo{
	width: 268px;
	height: 15px;
	margin-top: 32px;

}

.Imported-Layers1 {
  width: 15px;
  height: 15px;
  object-fit: contain;
  opacity: 0.7;
  margin-left: 93px;
  background-image: url(img/imported-layers1.png);
   float: left;

}
.Imported-Layers2 {
  width: 15px;
  height: 12px;
  object-fit: contain;
  opacity: 0.7;
  margin-left: 18px;
  background-image: url(img/imported-layers2.png);
  float: left;
  margin-top: 0.5px;

}
.Imported-Layers {
  width: 15px;
  height: 15px;
  object-fit: contain;
  opacity: 0.7;
  margin-left: 159px;
  background-image: url(img/imported-layers.png);


}
.imlec{
	width: 14.3px;
  height: 15.3px;
  background-color: red;
  margin-left: 98.7px;
  margin-bottom: 8px;
  float: left;
}
.Stroke-2 {
  width: 14.3px;
  height: 15.3px;
  border: solid 0.8px #000000;
  float: left;
  margin-top: -1px;
}
.Fill-1 {
  width: 14.3px;
  height: 15.3px;
  background-color: #ffffff;


}
.Stroke-3 {
  width: 4px;
  height: 3.5px;
  border: solid 0.8px #000000;
  margin-top: -9px;
  margin-left: 7.1px;
}
